{"openapi":"3.1.0","info":{"title":"PaperJet API","description":"Secure document extraction API","version":"1.0.0"},"servers":[{"url":"http://app.getpaperjet.com","description":"Production Server"}],"paths":{"/api/internal/server-info":{},"/api/internal/accept-invitation":{},"/api/internal/invitations":{},"/api/internal/auth-callback":{},"/api/v1/admin/runtime-config":{"get":{"operationId":"getApiV1AdminRuntime-config","description":"Returns the models that are used in workflow execution","responses":{"200":{"description":"Runtime configuration","content":{"application/json":{"schema":{"type":"object","properties":{"fastModel":{"type":"object","properties":{"name":{"type":"string"},"modelId":{"type":"string"}},"required":["name","modelId"]},"accurateModel":{"type":"object","properties":{"name":{"type":"string"},"modelId":{"type":"string"}},"required":["name","modelId"]}}}}}}}},"post":{"operationId":"postApiV1AdminRuntime-config","description":"Set runtime model configuration","responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"]}}}},"500":{"description":"Error response","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","enum":["fast","accurate"]},"modelId":{"type":"string"}},"required":["type","modelId"]}}}}}},"/api/v1/admin/models":{"get":{"operationId":"getApiV1AdminModels","description":"List all models","responses":{"200":{"description":"List of models","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"provider":{"type":"string"},"providerApiKey":{"type":"string"},"modelName":{"type":"string"},"displayName":{"type":"string"},"baseUrl":{"type":"string"}},"required":["id","provider","modelName","displayName"]}}}}}}}},"/api/v1/admin/models/add":{"post":{"operationId":"postApiV1AdminModelsAdd","description":"Add a new model","responses":{"200":{"description":"Model added successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"model":{"type":"object","properties":{"id":{"type":"string"},"provider":{"type":"string"},"providerApiKey":{"type":"string"},"modelName":{"type":"string"},"displayName":{"type":"string"},"baseUrl":{"type":"string"}},"required":["id","provider","modelName","displayName"]}},"required":["success","model"]}}}},"500":{"description":"Error response","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"provider":{"type":"string","enum":["google","openai","openrouter","custom"]},"providerApiKey":{"type":"string","minLength":1},"modelName":{"type":"string","minLength":1},"displayName":{"type":"string"},"baseUrl":{"type":"string"}},"required":["provider","providerApiKey","modelName"]}}}}}},"/api/v1/admin/models/validate-connection":{"post":{"operationId":"postApiV1AdminModelsValidate-connection","description":"Validate model connection","responses":{"200":{"description":"Validation result","content":{"application/json":{"schema":{"type":"object","properties":{"isValid":{"type":"boolean"},"error":{"type":["string","null"]}},"required":["isValid","error"]}}}},"500":{"description":"Error response","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"provider":{"type":"string","enum":["google","openai","openrouter","custom"]},"providerApiKey":{"type":"string","minLength":1},"modelName":{"type":"string","minLength":1},"displayName":{"type":"string"},"baseUrl":{"type":"string"}},"required":["provider","providerApiKey","modelName"]}}}}}},"/api/v1/admin/models/update":{"put":{"operationId":"putApiV1AdminModelsUpdate","description":"Update an existing model","responses":{"200":{"description":"Model updated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"model":{"type":"object","properties":{"id":{"type":"string"},"provider":{"type":"string"},"providerApiKey":{"type":"string"},"modelName":{"type":"string"},"displayName":{"type":"string"},"baseUrl":{"type":"string"}},"required":["id","provider","modelName","displayName"]}},"required":["success","model"]}}}},"500":{"description":"Error response","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"provider":{"type":"string","enum":["google","openai","openrouter","custom"]},"providerApiKey":{"type":"string","minLength":1},"modelName":{"type":"string","minLength":1},"displayName":{"type":"string"},"baseUrl":{"type":"string"}},"required":["id","provider","providerApiKey","modelName"]}}}}}},"/api/v1/admin/models/delete":{"delete":{"operationId":"deleteApiV1AdminModelsDelete","description":"Delete a model","responses":{"200":{"description":"Model deleted successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"]}}}},"500":{"description":"Error response","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}}}}}},"/api/v1/api-keys":{"get":{"operationId":"getApiV1Api-keys","description":"Get all API keys for the organization","responses":{"200":{"description":"List of API keys","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":["string","null"]},"key":{"type":"string"},"userId":{"type":"string"},"enabled":{"type":"boolean"},"createdAt":{"type":"string"},"lastRequest":{"type":["string","null"]}},"required":["id","name","key","userId","enabled","createdAt","lastRequest"]}}}}},"500":{"description":"Error response","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}},"post":{"operationId":"postApiV1Api-keys","description":"Create a new API key","responses":{"200":{"description":"API key created","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"key":{"type":"string"}},"required":["id","name","key"]}}}},"500":{"description":"Error response","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1}},"required":["name"]}}}}}},"/api/v1/api-keys/{id}":{"delete":{"operationId":"deleteApiV1Api-keys:id","description":"Revoke an API key","responses":{"200":{"description":"API key revoked","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}},"404":{"description":"Key not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Error response","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}]}},"/api/v1/workflows":{"get":{"operationId":"getApiV1Workflows","description":"Get all workflows for the organization","responses":{"200":{"description":"List of workflows","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"configuration":{"type":"object","properties":{"objects":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"fields":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"type":{"anyOf":[{"type":"string","const":"string"},{"type":"string","const":"date"},{"type":"string","const":"number"}]}},"required":["name","type"]}},"tables":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"columns":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"type":{"anyOf":[{"type":"string","const":"string"},{"type":"string","const":"date"},{"type":"string","const":"number"}]}},"required":["name","type"]}}},"required":["name","columns"]}}},"required":["name"]}}},"required":["objects"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"ownerId":{"type":"string"},"modelType":{"type":"string","enum":["fast","accurate"]}},"required":["id","name","description","configuration","createdAt","updatedAt","ownerId","modelType"]}}}}},"500":{"description":"Error response","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}},"post":{"operationId":"postApiV1Workflows","description":"Create a new workflow","responses":{"201":{"description":"Workflow created","content":{"application/json":{"schema":{"type":"object","properties":{"workflowId":{"type":"string"},"message":{"type":"string"}},"required":["workflowId","message"]}}}},"500":{"description":"Error response","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1},"description":{"type":"string","default":""},"configuration":{"type":"object","properties":{"objects":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"fields":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"type":{"anyOf":[{"type":"string","const":"string"},{"type":"string","const":"date"},{"type":"string","const":"number"}]}},"required":["name","type"]}},"tables":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"columns":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"type":{"anyOf":[{"type":"string","const":"string"},{"type":"string","const":"date"},{"type":"string","const":"number"}]}},"required":["name","type"]}}},"required":["name","columns"]}}},"required":["name"]}}},"required":["objects"]},"modelType":{"type":"string","enum":["fast","accurate"]}},"required":["name","configuration","modelType"]}}}}}},"/api/v1/workflows/{workflowId}/execute":{"post":{"operationId":"postApiV1Workflows:workflowIdExecute","description":"Execute a workflow with a file","responses":{"200":{"description":"Execution started","content":{"application/json":{"schema":{"type":"object","properties":{"workflowExecutionId":{"type":"string"},"workflowId":{"type":"string"},"status":{"type":"string"},"fileId":{"type":"string"},"filename":{"type":"string"}},"required":["workflowExecutionId","workflowId","status","fileId","filename"]}}}},"400":{"description":"Invalid file","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Workflow not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Error response","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"parameters":[{"in":"path","name":"workflowId","schema":{"type":"string","pattern":"^wkf_[a-f0-9]{12}$"},"required":true}]}},"/api/v1/workflows/{workflowId}":{"get":{"operationId":"getApiV1Workflows:workflowId","description":"Get workflow details by ID","responses":{"200":{"description":"Workflow details","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"configuration":{"type":"object","properties":{"objects":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"fields":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"type":{"anyOf":[{"type":"string","const":"string"},{"type":"string","const":"date"},{"type":"string","const":"number"}]}},"required":["name","type"]}},"tables":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"columns":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"type":{"anyOf":[{"type":"string","const":"string"},{"type":"string","const":"date"},{"type":"string","const":"number"}]}},"required":["name","type"]}}},"required":["name","columns"]}}},"required":["name"]}}},"required":["objects"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"ownerId":{"type":"string"},"modelType":{"type":"string","enum":["fast","accurate"]}},"required":["id","name","description","configuration","createdAt","updatedAt","ownerId","modelType"]}}}}},"parameters":[{"in":"path","name":"workflowId","schema":{"type":"string","pattern":"^wkf_[a-f0-9]{12}$"},"required":true}]},"put":{"operationId":"putApiV1Workflows:workflowId","description":"Update an existing workflow","responses":{"200":{"description":"Workflow updated","content":{"application/json":{"schema":{"type":"object","properties":{"workflowId":{"type":"string"},"message":{"type":"string"}},"required":["workflowId","message"]}}}},"500":{"description":"Error response","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1},"description":{"type":"string","default":""},"configuration":{"type":"object","properties":{"objects":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"fields":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"type":{"anyOf":[{"type":"string","const":"string"},{"type":"string","const":"date"},{"type":"string","const":"number"}]}},"required":["name","type"]}},"tables":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"columns":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"type":{"anyOf":[{"type":"string","const":"string"},{"type":"string","const":"date"},{"type":"string","const":"number"}]}},"required":["name","type"]}}},"required":["name","columns"]}}},"required":["name"]}}},"required":["objects"]},"modelType":{"type":"string","enum":["fast","accurate"]}},"required":["name","configuration","modelType"]}}}},"parameters":[{"in":"path","name":"workflowId","schema":{"type":"string","pattern":"^wkf_[a-f0-9]{12}$"},"required":true}]},"delete":{"operationId":"deleteApiV1Workflows:workflowId","description":"Delete a workflow","responses":{"200":{"description":"Workflow deleted","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}},"404":{"description":"Workflow not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Error response","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"parameters":[{"in":"path","name":"workflowId","schema":{"type":"string","pattern":"^wkf_[a-f0-9]{12}$"},"required":true}]}},"/api/v1/workflows/{workflowId}/executions/{workflowExecutionId}":{"get":{"operationId":"getApiV1Workflows:workflowIdExecutions:workflowExecutionId","description":"Get workflow execution details","responses":{"200":{"description":"Execution details","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["Queued","Processing","Failed","Completed"]},"id":{"type":"string"},"createdAt":{"type":"string"},"ownerId":{"type":"string"},"workflowId":{"type":"string"},"workflowName":{"type":"string"},"fileId":{"type":"string"},"fileName":{"type":"string"},"jobId":{"type":["string","null"]},"errorMessage":{"type":["string","null"]},"startedAt":{"type":"string"},"completedAt":{"type":["string","null"]},"extractedData":{}},"required":["status","id","createdAt","ownerId","workflowId","workflowName","fileId","fileName","jobId","errorMessage","startedAt","completedAt"]}}}}},"parameters":[{"in":"path","name":"workflowId","schema":{"type":"string","pattern":"^wkf_[a-f0-9]{12}$"},"required":true},{"in":"path","name":"workflowExecutionId","schema":{"type":"string","pattern":"^exe_[a-f0-9]{12}$"},"required":true}]}},"/api/v1/executions":{"get":{"operationId":"getApiV1Executions","description":"Get all workflow executions for the organization","responses":{"200":{"description":"List of executions","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"status":{"type":"string","enum":["Queued","Processing","Failed","Completed"]},"id":{"type":"string"},"createdAt":{"type":"string"},"ownerId":{"type":"string"},"workflowId":{"type":"string"},"workflowName":{"type":"string"},"fileId":{"type":"string"},"fileName":{"type":"string"},"jobId":{"type":["string","null"]},"errorMessage":{"type":["string","null"]},"startedAt":{"type":"string"},"completedAt":{"type":["string","null"]}},"required":["status","id","createdAt","ownerId","workflowId","workflowName","fileId","fileName","jobId","errorMessage","startedAt","completedAt"]}}}}},"500":{"description":"Error response","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/executions/{executionId}":{"get":{"operationId":"getApiV1Executions:executionId","description":"Get workflow execution details by ID","responses":{"200":{"description":"Execution details","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["Queued","Processing","Failed","Completed"]},"id":{"type":"string"},"createdAt":{"type":"string"},"ownerId":{"type":"string"},"workflowId":{"type":"string"},"workflowName":{"type":"string"},"fileId":{"type":"string"},"fileName":{"type":"string"},"jobId":{"type":["string","null"]},"errorMessage":{"type":["string","null"]},"startedAt":{"type":"string"},"completedAt":{"type":["string","null"]},"extractedData":{}},"required":["status","id","createdAt","ownerId","workflowId","workflowName","fileId","fileName","jobId","errorMessage","startedAt","completedAt"]}}}},"404":{"description":"Execution not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Error response","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"parameters":[{"in":"path","name":"executionId","schema":{"type":"string","pattern":"^exe_[a-f0-9]{12}$"},"required":true}]}},"/api/v1/executions/{executionId}/status":{"get":{"operationId":"getApiV1Executions:executionIdStatus","description":"Get workflow execution status by ID","responses":{"200":{"description":"Execution status","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","enum":["Queued","Processing","Failed","Completed"]},"workflowId":{"type":"string"},"fileId":{"type":"string"},"jobId":{"type":["string","null"]},"errorMessage":{"type":["string","null"]},"startedAt":{"type":"string"},"completedAt":{"type":["string","null"]}},"required":["id","status","workflowId","fileId","jobId","errorMessage","startedAt","completedAt"]}}}},"404":{"description":"Execution not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Error response","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"parameters":[{"in":"path","name":"executionId","schema":{"type":"string","pattern":"^exe_[a-f0-9]{12}$"},"required":true}]}},"/api/v1/executions/{executionId}/file":{"get":{"operationId":"getApiV1Executions:executionIdFile","description":"Get presigned URL for execution file","responses":{"200":{"description":"Presigned URL","content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string"}},"required":["url"]}}}},"404":{"description":"Execution not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Error response","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"parameters":[{"in":"path","name":"executionId","schema":{"type":"string","pattern":"^exe_[a-f0-9]{12}$"},"required":true}]}},"/api/v1/executions/{executionId}/export":{"get":{"operationId":"getApiV1Executions:executionIdExport","description":"Export workflow execution data","responses":{"200":{"description":"Exported data file","content":{"application/octet-stream":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["Queued","Processing","Failed","Completed"]},"id":{"type":"string"},"createdAt":{"type":"string"},"ownerId":{"type":"string"},"workflowId":{"type":"string"},"workflowName":{"type":"string"},"fileId":{"type":"string"},"fileName":{"type":"string"},"jobId":{"type":["string","null"]},"errorMessage":{"type":["string","null"]},"startedAt":{"type":"string"},"completedAt":{"type":["string","null"]},"extractedData":{}},"required":["status","id","createdAt","ownerId","workflowId","workflowName","fileId","fileName","jobId","errorMessage","startedAt","completedAt"]}}}},"404":{"description":"Execution data not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Error response","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"parameters":[{"in":"path","name":"executionId","schema":{"type":"string","pattern":"^exe_[a-f0-9]{12}$"},"required":true},{"in":"query","name":"mode","schema":{"type":"string","enum":["csv","json"]},"required":true}]}}},"components":{}}
