fastapi==0.109.2
uvicorn==0.27.1
python-multipart==0.0.9
easyocr==1.7.1
opencv-python==4.9.0.80
numpy==1.26.4
Pillow==10.2.0
doclayout-yolo @ git+https://github.com/opendatalab/DocLayout-YOLO.git
huggingface-hub==0.20.3
torch==2.2.0
torchvision==0.17.0 